# Large data and artifacts
/dataset/
/data/
/outputs/
/reports/

# Local env and caches
/.conda/
/.pip_cache/
/.tmp/
/.venv/
/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temp
*.log
*.tmp

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# penn dataset
penn/

# uv files
uv.lock
pyproject.toml
.python-version
